/* Photo */

.aboutMePhoto {
    border: 5px solid #000;
    border-radius: 50%;
    width: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutMePhoto:hover {
    box-shadow: 0 0 2px 1px rgba(228, 160, 55, 2);
}