html {
  scroll-behavior: smooth;
}

body {
    background-image: radial-gradient(#000, #fff);
}

.porfolio {
    margin-top: 150px;
   
}
img {
  width: 450px;
  height: 300px;

}

/* Projects */

.card-body{
  background-image: #fff;
}
.card-img-top{
  opacity: .5;
}
.card-img-top:hover{
  opacity: 1.0;
}
.lead {
  color: #000;
}
.btn-secondary {
  background-color: #000;
}
