body {
    background-color: whitesmoke ;
    background-image: radial-gradient(#fff, #ac6b53);
}

/* NavBar */
.imghead {
    width: auto;
    height: 10em;
    font-size: .5em;
    margin-left: -20px;
}

.nav-link {
    font-family: stoic;
    font-size: 27px;
    color: #fff;
}
a:hover  {
    color: #ac6b53;
}

/* Footer */
.footer {
    font-family: stoic;
    font-size: 25px;
}